@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
    var root = CurrentPage.AncestorOrSelf(1);


}
<!DOCTYPE html>
<html>
<head>
    <title>@Umbraco.Field("pageName", altText: "Aarhus Web development")</title>
    <meta charset="UTF-8">
    <meta name="description" content="@Umbraco.Field("metaDescription", recursive: true)">
    <meta name="keywords" content="@Umbraco.Field("metaKeywords", recursive: true)">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="http://flexslider.woothemes.com/css/flexslider.css" rel="stylesheet" />
    <link href="~/css/lightbox.css" rel="stylesheet" />
    <link href="~/css/main.css" rel="stylesheet" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/lightbox.min.js"></script>
    <script src="http://flexslider.woothemes.com/js/jquery.flexslider.js"></script>

    <script>
        // Can also be used with $(document).ready()
        $(window).load(function () {
            $('.flexslider').flexslider({
                animation: "slide"
            });

            lightbox.option({
                'resizeDuration': 200,
                'wrapAround': true
            })


            $(".spot_newsletter").click(function () {

                $(".newsletter_content").toggle();
                //$(".newsletter_content").css("display", "block");
            });


            $(".newsletterCreate").click(function () {
                $(".newsletter_content").css("display", "none");
            });
        
           
        });
    </script>
</head>
<body>
    <div class="container">
        <header>
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <div class="logo">
                        @{
                            var logo = Umbraco.Media(root.logo);
                            <a href="/">
                                <img width="100%" src="@logo.Url" alt="logo" />
                            </a>
                        }
                    </div>
                </div>
            </div>
        </header>

        <nav>
            <div class="row">
                <div class="col-md-12">
                    <div class="nav navBar-nav">
                        @Html.Partial("Menu")
                    </div>
                </div>
            </div>

        </nav>
        <main>
            <div class="row">
                <div class="col-md-12">
                    @RenderBody()
                </div>
            </div>

        </main>
        <hr />
        <footer>

            <div class="row">
                <div class="col-md-12">
                    @Umbraco.Field("footer", recursive: true)
                </div>
            </div>

        </footer>
    </div>

    @Html.Partial("newsletter")
</body>
</html>
