@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    //Getting a List of all Article Items
    var articles = CurrentPage.Descendants("articleItem");

    //Making a Counter for creating row between 2 articles
    var counter = 1;

    //looping over all articles
    foreach (var item in articles)
    {
        <div class="col-md-6">
            <div class="article">
                <a href="@item.Url">
                    @if (item.HasValue("articleImg"))
                    {
                        var articleImg = Umbraco.Media(item.image);
                        <img width="100%" src="@articleImg.Url?width=800&height=300&mode=crop" alt="logo" />  
                    }
                </a>
                <a href="@item.Url">
                    <h3>@item.header</h3>
                </a>
                <p>@item.bodytext</p>
            </div>
        </div>
        if (counter % 2 == 0)
        {
            @Html.Raw("</div><div class=\"row\">")
        }
        counter++;
    }

}